.year{
  /* display: flex; */
}
.topLogo{
  margin-top: 10px; 
  margin-right: -100px;
  margin-left: 100px;
  display: flex;

}
.mainName{
  text-align: center;
  margin-left: 20px;
  display: flex;
}


.d-flex{
  margin-right: -60px;
  width:400px;
  height: 50px;
  display: flex;

}

.join{
  margin-right: -60px;
  display: flex;
}

.login{
  margin-right: -110px;
  display: flex;
}

.mypage{
  margin-right: -180px;
  display: flex;
}
.alarm{
  margin-right: -60px;
  display:flex
  
}